<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.3/font/bootstrap-icons.min.css">
    <!--Google Fonts-->
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <!-- End Bootstrap CSS -->

    <!--Custom Css-->
    
    <!--End Custom Css-->
</head>

<body>
<header>
  <section id="topbar" class="mb-2 mb-lg-0 mb-sm-0 d-none d-lg-flex align-items-center pt-2 pb-2 bg-primary text-white topbar-transparent">
 <div class="container">
   <div class="row">
   
     <div class="col-md-6 text-end">
         <a href="http://www.enicarthage.rnu.tn/#" class="me-4 text-reset">
             <i class="bi bi-facebook"></i>
         </a>
         <a href="http://www.enicarthage.rnu.tn/#" class="me-4 text-reset">
             <i class="bi bi-twitter"></i>
         </a>
         <a href="http://www.enicarthage.rnu.tn/#" class="me-4 text-reset">
             <i class="bi bi-google"></i>
         </a>
         <a href="http://www.enicarthage.rnu.tn/#" class="me-4 text-reset">
             <i class="bi bi-instagram"></i>
         </a>
         <a href="http://www.enicarthage.rnu.tn/#" class="me-4 text-reset">
             <i class="bi bi-linkedin"></i>
         </a>
         <a href="http://www.enicarthage.rnu.tn/#" class="me-4 text-reset">
             <i class="bi bi-github"></i>
         </a>
     </div>
   </div>
 </div>
</section>
 <!--Navbar Start-->
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
     <div class="container">
         <a class="navbar-brand" href="index.html">
             <h2 class="fw-bold  mb-2 mb-lg-0 mb-sm-0 fontsize">Enicarthage</h2>
         </a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
             data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
             aria-expanded="false" aria-label="Toggle navigation">
             <span class="bi bi-list"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                 <li class="nav-item">
                     <a class="nav-link active" aria-current="page" href="#">Home</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="#about">About</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="#courses">Cycles</a>
                 </li>

                 
                 <li class="nav-item">
                     <a class="nav-link" href="#absence">Absences</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="http://www.enicarthage.rnu.tn/#">Contact us</a>
                 </li>
             </ul>
             
         </div>
     </div>
 </nav>
 <!--Navbar End-->
</header>
<!--Header End-->



 
         <img class="img-fluid w-100 h-100 overflow-hidden"
             src="/assets/background.jpg"
             class="d-block w-100" alt="...">
        



<main id="main">

 <!-- ======= About Section ======= -->
 <section id="about" class="about mt-5">
     <div class="container-fluid">
         <h2 class="h1-responsive font-weight-bold text-center my-2 fontsize ">About</h2>
         <!--Section description-->
         <p class="text-center w-responsive mx-auto mb-1">Do you have any questions? Please do not hesitate to
             contact us directly. Our team will come back to you within
             a matter of hours to help you.</p>
         <div class="row  pt-5 pb-5">

             <div class="col-lg-5 align-items-stretch video-box"
                 style='background-image: url("/assets/enicar.jpg");'>
                 <a href="https://youtu.be/AYnPFd-bY-U" class="venobox play-btn mb-4"
                     data-vbtype="video" data-autoplay="true"></a>
             </div>

             <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">

                 <div class="content">
                     <h3><strong>A propos de l'enicarthage</strong></h3>
                     <p class="font-italic">
                      L'École nationale d'ingénieurs de Carthage (arabe : المدرسة الوطنية للمهندسين بقرطاج) 
                      ou ENICarthage est un établissement universitaire tunisien rattaché à l'université de Carthage. 
                      Situé à l'Ariana (Tunisie), il est fondé à l'initiative du professeur Abdelhamid Ben Youssef et créé par le décret no 2002-1623 du 9 juillet 2002 sous
                       le nom d’École supérieure de technologie et d'informatique (المدرسة العليا للتكنولوجيا والإعلامية) ou ESTI.
                     </p>
                     <ul>
                         <li><i class="bx bx-check-double"></i>intégrer le monde de l'entreprise (industrie et services). </li>
                         <li><i class="bx bx-check-double"></i> rejoindre le corps de l'enseignement secondaire .</li>
                         <li><i class="bx bx-check-double"></i> poursuivre des études de troisième cycle en optant pour un master de recherche
                           (suivi d'une thèse de doctorat) ou d'un master professionnel.</li>
                     </ul>
                     <p>
                      Étant un établissement à vocation technologique, les différents types de diplômes reposent sur un équilibre entre les connaissances
                       fondamentales et les connaissances appliquées. L'acquisition de l'ensemble de ces connaissances est répartie sur tout le cursus avec une dominante de connaissances
                        fondamentales en premier cycle 
                      et une dominante de connaissances appliquées durant le deuxième cycle
                     </p>
                 </div>

             </div>

         </div>

     </div>
 </section><!-- End About Section -->

 <section id="courses">
     <div class="container course pb-5 pt-5">
         <h2 class="h1-responsive font-weight-bold text-center my-4 fontsize">Cycles d'Ingenieurs</h2>
         <!--Section description-->
         <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to
             contact us directly. Our team will come back to you within
             a matter of hours to help you.</p>
         <div class="row">
             <div class="col-md-4">
                 <div class="card box">
                     <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                         <img src="https://cdn.pixabay.com/photo/2016/09/08/04/12/programmer-1653351_960_720.png"
                             class="img-fluid" />
                         <a href="#!">
                             <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                         </a>
                     </div>
                     <div class="card-body">
                         <h5 class="card-title">Information Technology</h5>
                         <p class="card-text">L’ingénieur en génie informatique  formé à l’ENICarthage possède de bonnes connaissances technologiques et scientifiques, et a une approche axée sur la résolution de problèmes et la rentabilité. Il est également conscient(des incidences sociales, économiques et écologiques de ses projets.</p>
                         <a href="http://www.enicarthage.rnu.tn/fr/formations/cycles/informatique/5" class="btn btn-primary">Read More</a>
                     </div>
                 </div>
             </div>

             <div class="col-md-4">
                 <div class="card box">
                     <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                         <img src="https://cdn.pixabay.com/photo/2017/09/25/11/55/cyberspace-2784907_960_720.jpg"
                             class="img-fluid" />
                         <a href="#!">
                             <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                         </a>
                     </div>
                     <div class="card-body">
                         <h5 class="card-title">Mecatronic Engineering</h5>
                         <p class="card-text">L’ingénieur mécatronicien est un spécialiste de l’intégration. Il possède de larges connaissances en électronique, électrotechnique, automatique, mécanique et informatique embarquée.L’ingénieur mécatronicien est un ingénieur de conception, c'est un ingénieur d'études et développement c’est un ingénieur validation c’est aussi un roboticien, un automaticien et un chef de projet capable de concevoir et de développer les produits à hautes valeur ajoutée.</p>
                         <a href="http://www.enicarthage.rnu.tn/fr/formations/cycles/mecatronique/4" class="btn btn-primary">Read More</a>
                     </div>
                 </div>
             </div>

             <div class="col-md-4">
                 <div class="card box">
                     <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                         <img src="https://cdn.pixabay.com/photo/2020/12/05/14/08/man-5806012_960_720.jpg"
                             class="img-fluid" />
                         <a href="#!">
                             <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                         </a>
                     </div>
                     <div class="card-body">
                         <h5 class="card-title">GSIL Engineering</h5>
                         <p class="card-text">La formation couvre tous les champs du Génie industriel. Le 5ème semestre permet à l’élève-ingénieur de construire son propre projet professionnel. 

                          Trois options sontproposées : Systèmes de Production, Qualité & Maintenance et Logistique. </p>
                         <a href="http://www.enicarthage.rnu.tn/fr/formations/cycles/gsil/2" class="btn btn-primary">Read More</a>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </section>

 <section id="absence">
     <div class="container">
         <h2 class="h1-responsive font-weight-bold text-center my-4 fontsize">Absences</h2>
         <!--Section description-->
         <p class="text-center w-responsive mx-auto mb-5">Do you want to check your absences? Please do not hesitate to
             sign in to your "Absence Account " using your university account .Click the link below it will redirect you to sign in page .</p>
          <button  class="btn btn-primary  center" routerLink="/login" >Sign in </button>
    </div>
 </section>




 <!-- Footer -->
 <footer class="text-center text-lg-start bg-primary py-3 text-white">
   
     <!-- Section: Social media -->

     <!-- Section: Links  -->
     <section class="">
         <div class="container text-center text-md-start mt-5">
             <!-- Grid row -->
             <div class="row mt-3">
                 <!-- Grid column -->
                 <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                     <!-- Content -->
                     <h6 class="text-uppercase fw-bold mb-4">
                         <i class="bi bi-gem me-3"></i>university name
                     </h6>
                     <p style="font-size: 40;">
                        Enicarthage
                     </p>
                 </div>
                 <!-- Grid column -->

                 <!-- Grid column -->
                 <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                     <!-- Links -->
                     <h6 class="text-uppercase fw-bold mb-4">
                         Technologies
                     </h6>
                     <p>
                         <a href="#!" class="text-reset">Angular</a>
                     </p>
                     <p>
                         <a href="#!" class="text-reset">Spring Boot</a>
                     </p>
                     
                 </div>
                 <!-- Grid column -->

                 <!-- Grid column -->
                 <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                     <!-- Links -->
                     <h6 class="text-uppercase fw-bold mb-4">
                         Developer links
                     </h6>
                     <p>
                         <a href="https://github.com/OussemaTannoubi" class="text-reset"><i class="bi bi-github"></i> Git Hub</a>
                     </p>
                     <p>
                         <a href="https://www.facebook.com/OUSSEMA.TANNOUBI" class="text-reset"><i class="bi bi-facebook"></i> Facebook</a>
                     </p>
                     <p>
                         <a href="https://www.linkedin.com/in/oussama-tannoubi-79b723204/" class="text-reset"><i class="bi bi-linkedin"></i> linkedin</a>
                     </p>
                    
                 </div>
                 <!-- Grid column -->

                 <!-- Grid column -->
                 <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                     <!-- Links -->
                     <h6 class="text-uppercase fw-bold mb-4">
                         Contact
                     </h6>
                     <p><i class="bi bi-location me-3"></i> 45 Rue des Entrepreneurs 2035 Charguia II Tunis- Carthage-Tunisie</p>
                     <p>
                         <i class="bi bi-envelope me-3"></i>
                         enicarthage@enicarthage.rnu.tn
                     </p>
                     <p><i class="bi bi-phone me-3"></i> ( +216 ) 71 941 579 ou ( +216 ) 71 940 699 / ( +216 ) 71 940 775</p>
                     
                 </div>
                 <!-- Grid column -->
             </div>
             <!-- Grid row -->
         </div>
     </section>
     <!-- Section: Links  -->

     <!-- Copyright -->
     
 </footer>
 <!-- Footer -->
 <!-- Option 1: Bootstrap Bundle with Popper -->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
     integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
     crossorigin="anonymous"></script>

     </main>
     </body>
     </html>
